body,
html {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://content.thriveglobal.com/wp-content/uploads/2019/01/AdobeStock_206674448.jpeg?w=1550');
}
.authContainer {
  padding-top: 18%;
}

.formError {
  color: red;
}
