.main {
  box-sizing: border-box;
}
.categories {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 25% 25%;
  font-size: 2rem;
  font-weight: 900;
  color: rgb(36, 35, 35);
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center;
}
.categories-head {
  padding-top: 7%;
  padding-bottom: 2%;
}
.category-item {
  border-bottom: 1px solid #000;
  padding-bottom: 2px;

  background-color: inherit;
}
.category-item:hover {
  text-shadow: 2px 2px 5px #0d98ba;

  cursor: pointer;
  border-bottom: 2px solid #0d98ba;
}

.last-quizzes {
  position: fixed;
  box-sizing: border-box;
  width: 20%;
  top: 10%;
  right: 2%;
  max-width: 14rem;
  max-height: 24.2rem;
  z-index: 100;
  font-size: 0.8rem;
  color: rgb(181, 227, 233);
  border: none;
  border-radius: 5px;
  border-color: rgb(212, 210, 183);
}
.last-quizzes > div {
  box-sizing: border-box;
  display: block;
  border-bottom: 1px solid bisque;
  margin-top: 0;
}
.last-quizzes > h4 {
  border-bottom: 1px solid beige;
  margin-bottom: 0;
  padding-bottom: 6px;
}
.last-quizzes > h4:hover {
  cursor: pointer;
  color: #064d5f;
}
.last-quizzes > div > span {
  font-size: 1.3em;
}
