.questions {
  padding-top: 10%;

  position: relative;
  align-items: center;
  text-align: center;
  justify-items: center;
}
.options {
  margin-top: 2%;
  display: grid;
  grid-template-columns: 25% 25%;
  row-gap: 1px;
  column-gap: 0.4em;
  justify-content: center;
  text-align: center;
  float: center;
}
.questions > button {
  margin-top: 1.4em;
  width: 20%;
}
.options > label {
  justify-content: center;
  height: 2rem;
  font-size: 1.1rem;
  border: 0.8px solid;
  border-radius: 3px;
  border-color: darkblue;
  width: 90%;
}
.options > button:focus {
  background-color: orange;
}
.options > button:checked {
  background-color: orange;
}
.optionsinput {
  justify-self: center;
}
