.category {
  display: inline-block;
  background-color: rgb(231, 223, 223);
  margin-top: 8%;
  padding-top: 2%;
  border: solid black 1px;
  border-radius: 5px;
  width: 80%;
  padding-bottom: 20%;
  max-height: 40%;
  padding-left: 10%;
  padding-right: 10%;
  align-items: center;
}
.quizzes {
  padding-bottom: 3px;
  padding-top: 5px;
  border-bottom: 1px solid #000;
}
.quizzname {
  left: 1%;

  float: left;
  padding-top: 0.6em;
  font-size: 1.2rem;
  color: rgb(43, 17, 85);
}
.quizby {
  padding-left: 5px;
  float: left;
  padding-top: 0.8em;
  font-size: 1.1rem;
  color: rgb(43, 17, 85);
}
.quizbtn {
  position: sticky;
  right: 0;
  padding-left: 5%;
}
