.leaderboard {
  position: fixed;
  left: 3%;
  top: 10%;
  height: 90%;
  display: inline-block;
  max-width: 25%;
}
.leaderboard > h4 {
  color: rgb(13, 28, 109);
}
.leaderboard > h4:hover {
  cursor: pointer;
  color: rgb(59, 11, 51);
}
.leaderboard > table {
  /* background-image: url('https://image.shutterstock.com/image-photo/question-mark-on-blue-background-260nw-1668470494.jpg'); */
  border-radius: 2px;
  max-width: 15%;
  padding-left: 3%;
}
