.regdiv {
  position: fixed;
  width: 20%;
  top: 24%;
  left: 40%;
  border: solid;
  border-color: #2ea816;
  border-width: 3px;
  padding: 15px;
  border-radius: 2%;
  display: grid;
  color: black;
}
.regdiv input {
  margin-bottom: 10px;
  border-radius: 2px;
  height: 40px;
  width: 100%;
}
.regdiv button {
  border-radius: 5px;
  height: 40px;
}
.regdiv button:disabled {
  background: #f09292;
  color: #544e4d;
}
.regdiv button:enabled {
  background-color: #90ee90;
  color: black;
}
input.touched {
  border-radius: 3px;
}

input.valid {
  background-color: #a4f3a4;
}

input.invalid {
  background-color: #f09292;
}
